<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
	<head>

	<title>Volando Voy...</title>

	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="title" content="" />
	<meta name="author" content="" />
	<meta name="subject" content="" />
	<meta name="language" content="en" />
	<meta name="keywords" content="" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/snake.js"></script>
	
</head>

<body>
		<h1> Volando Voy ... </h1>

	 	<div id="scoreBoard">Tu puntuaci&oacute;n : 0</div> 

		<div style="padding:10px 0;margin:0 auto;width:728px;text-align:center"></div>  
		 	
		<div id="puntuacion">
			<span class='styleGameOver'>GAME OVER</span>
			<div id='scoreHtml' class='stylePuntuacion'></div>
			<div class='marginTop10'></div>
			<div>
				<span class='styleAlias'>Alias:</span><input id='alias' class='styleAlias' style="margin-left:12px"/>
			</div>
			<div>
				<span class='styleAlias'>Email:</span><input id='email' class='styleAlias'/>
			</div>	
			<button class='styleButton' onclick='sendScore();'>ENVIAR</button>	
		</div> 
		
		<div id="totalScoreHtml" style="display: none">
			<div id = "row"> 
			<div id="col1">
				<span>Posicion</span>
			</div>
			<div id="col1">
				<span>Alias</span>
			</div>
			<div id="col1">
				<span>Mejor Puntuacion</span>
			</div>	
			</div>	
			
		</div>
		 
</body>

			
			
